<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../../dist/css/reset.css">
  <link rel="stylesheet" href="../../dist/css/cuki-ui.css">
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--[if lt IE 7]>
    <link rel="stylesheet" href="../../dist/css/ie7.css">
  <![endif]-->
  <title>website name</title>
  

  <style type="text/css">
    /*-- breadcrumb --*/
    .breadcrumb {overflow:hidden; margin: 0; padding: 0;color: #999;}
    .breadcrumb li{display:inline-block;}
    .breadcrumb li a {color: #666; }
    .breadcrumb li.space {margin: 0 3px;}
    .breadcrumb li.active {color: #000; }
  </style>

</head>
<body class="yh">
  <noscript>
    <strong>你的浏览器似乎禁用了 JavaScript。</strong><br />您必须在浏览器中启用JavaScript才能使用本网站的功能。
  </noscript>
  <div class="container-loading container yh fs14 lh20">
    <div class="row">
      <h2>面包屑</h2>
      
      <ol class="breadcrumb">
        <li><a href="#">目录1</a></li>
        <li class="space">/</li>
        <li><a href="#">目录2</a></li>
        <li class="space">/</li>
        <li class="active">目录3</li>
      </ol>

    </div>
  </div>
</body>
</html>